#ignore .env file
.env

#ignore virtual environment
my_venv/
env/
v_env/
v_venv/

#ignoring python bytecode cache folders
__pycache__/
*.pyc

#ignoring docker artifacts
*.log
*.pid
*.db

#ignoring editor/IDE files
.vscode/
*.swp

#ignoring system files
.DS_Store